@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,700&display=swap');

/* RESET STARTED */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  font-size: clamp(12px, 1.5vw, 16px);
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* RESET END */


header {
    display: block;
    position: fixed;
    inset: 0;
    border: 1px solid red;
    height: 70px;
}

nav {
    display: block;
}

nav a {
    color: #000;
    display: inline;
    margin: 0 5px;
}